@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", system-ui;
  font-size: inherit;
  /* outline: 1px solid red; */
}

body {
  min-height: 100vh;
}
:root {
  --primaryclr: #2e073f;
  --secondaryClr: #7a1cac;
  --lightClr: #d7c3f1;
  --secondaryTxt: #ebd3f8;
  --grayText: gray;
  --lightBlue: #f1f3f4;
  --bgImg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2000 1500'%3E%3Cdefs%3E%3CradialGradient id='a' gradientUnits='objectBoundingBox'%3E%3Cstop offset='0' stop-color='%23AD49E1'/%3E%3Cstop offset='1' stop-color='%232E073F'/%3E%3C/radialGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='0' y1='750' x2='1550' y2='750'%3E%3Cstop offset='0' stop-color='%236e2890'/%3E%3Cstop offset='1' stop-color='%232E073F'/%3E%3C/linearGradient%3E%3Cpath id='s' fill='url(%23b)' d='M1549.2 51.6c-5.4 99.1-20.2 197.6-44.2 293.6c-24.1 96-57.4 189.4-99.3 278.6c-41.9 89.2-92.4 174.1-150.3 253.3c-58 79.2-123.4 152.6-195.1 219c-71.7 66.4-149.6 125.8-232.2 177.2c-82.7 51.4-170.1 94.7-260.7 129.1c-90.6 34.4-184.4 60-279.5 76.3C192.6 1495 96.1 1502 0 1500c96.1-2.1 191.8-13.3 285.4-33.6c93.6-20.2 185-49.5 272.5-87.2c87.6-37.7 171.3-83.8 249.6-137.3c78.4-53.5 151.5-114.5 217.9-181.7c66.5-67.2 126.4-140.7 178.6-218.9c52.3-78.3 96.9-161.4 133-247.9c36.1-86.5 63.8-176.2 82.6-267.6c18.8-91.4 28.6-184.4 29.6-277.4c0.3-27.6 23.2-48.7 50.8-48.4s49.5 21.8 49.2 49.5c0 0.7 0 1.3-0.1 2L1549.2 51.6z'/%3E%3Cg id='g'%3E%3Cuse href='%23s' transform='scale(0.12) rotate(60)'/%3E%3Cuse href='%23s' transform='scale(0.2) rotate(10)'/%3E%3Cuse href='%23s' transform='scale(0.25) rotate(40)'/%3E%3Cuse href='%23s' transform='scale(0.3) rotate(-20)'/%3E%3Cuse href='%23s' transform='scale(0.4) rotate(-30)'/%3E%3Cuse href='%23s' transform='scale(0.5) rotate(20)'/%3E%3Cuse href='%23s' transform='scale(0.6) rotate(60)'/%3E%3Cuse href='%23s' transform='scale(0.7) rotate(10)'/%3E%3Cuse href='%23s' transform='scale(0.835) rotate(-40)'/%3E%3Cuse href='%23s' transform='scale(0.9) rotate(40)'/%3E%3Cuse href='%23s' transform='scale(1.05) rotate(25)'/%3E%3Cuse href='%23s' transform='scale(1.2) rotate(8)'/%3E%3Cuse href='%23s' transform='scale(1.333) rotate(-60)'/%3E%3Cuse href='%23s' transform='scale(1.45) rotate(-30)'/%3E%3Cuse href='%23s' transform='scale(1.6) rotate(10)'/%3E%3C/g%3E%3C/defs%3E%3Cg transform='rotate(0 0 0)'%3E%3Cg transform='rotate(0 0 0)'%3E%3Ccircle fill='url(%23a)' r='3000'/%3E%3Cg opacity='0.5'%3E%3Ccircle fill='url(%23a)' r='2000'/%3E%3Ccircle fill='url(%23a)' r='1800'/%3E%3Ccircle fill='url(%23a)' r='1700'/%3E%3Ccircle fill='url(%23a)' r='1651'/%3E%3Ccircle fill='url(%23a)' r='1450'/%3E%3Ccircle fill='url(%23a)' r='1250'/%3E%3Ccircle fill='url(%23a)' r='1175'/%3E%3Ccircle fill='url(%23a)' r='900'/%3E%3Ccircle fill='url(%23a)' r='750'/%3E%3Ccircle fill='url(%23a)' r='500'/%3E%3Ccircle fill='url(%23a)' r='380'/%3E%3Ccircle fill='url(%23a)' r='250'/%3E%3C/g%3E%3Cg transform='rotate(0 0 0)'%3E%3Cuse href='%23g' transform='rotate(10)'/%3E%3Cuse href='%23g' transform='rotate(120)'/%3E%3Cuse href='%23g' transform='rotate(240)'/%3E%3C/g%3E%3Ccircle fill-opacity='0.1' fill='url(%23a)' r='3000'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}
@view-transition {
  navigation: auto;
}
::view-transition-group {
  transition: opacity 1s ease-in-out;
}
::view-transition-old(root),
::view-transition-new(root) {
  animation-duration: 1s;
}

header {
  height: 60px;
  display: flex;
  align-items: center;
  padding: 0 30px;
  justify-content: space-between;
  h1 {
    font-size: clamp(1.3rem, 2vw, 2rem);
  }
  nav {
    display: flex;
    align-items: center;
    gap: 15px;
    li {
      list-style: none;
      a {
        text-decoration: none;
        font-weight: 500;
        color: var(--grayText);
      }
    }
  }
}

.hero-segment {
  height: calc(100vh - 60px);
  display: flex;
  position: relative;
  align-items: center;
  padding: 0 30px;

  .landing-text {
    font-weight: 800;
    font-size: 5vw;
    color: var(--primaryclr);
    line-height: 4.5rem;
  }
  .landing-description {
    color: var(--grayText);
  }
  .about {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    width: 50%;
  }

  .landing-button {
    padding: 10px 30px;
    border: none;
    outline: none;
    border-radius: 25px;
    background-color: var(--primaryclr);
    color: var(--secondaryTxt);
    margin-top: 20px;
    cursor: pointer;
  }
  background: url("/images/link.svg") no-repeat;
  background-size: 34%;
  background-position: calc(100% - 70px) center;
}

.shortner-container {
  position: absolute;
  height: 120px;
  bottom: -60px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 1000px;
  border-radius: 5px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  .form-grp {
    width: 90%;
    display: grid;
    grid-template-columns: 70% 10% auto;
    gap: 10px;
    input {
      padding: 10px;
      font-size: 1.2rem;
      border-radius: 5px;
      outline: none;
      border: none;
    }
    #inputUrl:valid {
      box-shadow: 0 0 4px 2px #00b000;
    }
    #inputUrl:invalid:not(:placeholder-shown) {
      box-shadow: 0 0 4px 2px orangered;
    }

    button {
      border-radius: 5px;
      outline: none;
      border: none;
      background-color: var(--secondaryClr);
      color: var(--lightBlue);
      font-weight: bold;
      cursor: pointer;
    }
  }
  background-color: #000000;
  background-image: var(--bgImg);
  background-position: center;
  background-size: cover;
}

.links-container {
  width: 100%;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  .links-wrapper {
    display: grid;
    grid-template-columns: 1fr auto 10%;
    background-color: white;
    gap: 10px;
    padding: 12px;
    border-radius: 5px;
    align-items: center;
    .shorten-link {
      text-decoration: none;
      color: var(--primaryclr);
    }
  }
  button {
    border: none;
    outline: none;
    border-radius: 5px;
    background-color: var(--secondaryClr);
    column-rule: var(--secondaryTxt);
    padding: 10px 20px;
    color: var(--lightBlue);
    cursor: pointer;
  }
}

.fetures-segment {
  /* height: 100vh; */
  background-color: var(--lightBlue);
  padding-top: 80px;
  display: flex;
  align-items: center;
  flex-direction: column;
  .fetures-about {
    text-align: center;
    margin-top: 60px;
    width: 50%;
    .heading-text {
      font-weight: 800;
      font-size: 2rem;
      margin: 20px 0;
    }
    .feture-description {
      color: var(--grayText);
    }
  }
  .feture-card-container {
    width: 100%;
    max-width: 1000px;
    margin: 50px 0;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    .card {
      background-color: white;
      position: relative;
      padding: 20px;
      padding-top: 40px;
      .card-text {
        font-size: 0.8rem;
        color: var(--grayText);
        margin-top: 10px;
      }
      .icon {
        width: 50px;
        height: 50px;
        background-color: var(--primaryclr);
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        position: absolute;
        top: -25px;
        i {
          color: var(--secondaryTxt);
        }
      }
    }
  }
}

.footer-before {
  height: 30vh;
  background-color: #000000;
  background-image: var(--bgImg);
  background-position: center;
  background-size: 200%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
  .big-text {
    color: white;
    font-size: 3vw;
    font-weight: 800;
  }
  button {
    outline: none;
    border: none;
    padding: 15px 30px;
    background-color: var(--primaryclr);
    border-radius: 30px;
    color: var(--secondaryTxt);
    cursor: pointer;
    font-weight: bold;
  }
}

footer {
  background-color: #141414;
  display: grid;
  grid-template-columns: 30% auto auto auto auto;
  padding: 30px 0;
  .footer-txt {
    color: white;
    font-weight: bold;
  }
  .first {
    margin-top: 10px;
  }
  li {
    list-style: none;
    a {
      color: rgb(184, 184, 184);
      text-decoration: none;
      font-size: 0.9rem;
    }
  }
  .footer-heading {
    display: flex;
    justify-content: center;
    color: white;
    h1 {
      line-height: 1.5rem;
      font-size: 2.4vw;
    }
  }

  .social-links {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    a {
      font-size: 1.4rem;
    }
  }
  a:hover {
    color: var(--secondaryClr);
  }
}

@media (width<=500px) {
  header {
    nav {
      display: none;
    }
  }
  .hero-segment {
    height: 70vh;
    background: white;
    .about {
      width: 100%;
      text-align: center;
      margin-bottom: 100px;
      display: flex;
      flex-direction: column;
      align-items: center;
      .landing-text {
        font-size: 2rem;
        line-height: normal;
      }
    }
  }
  .links-container {
    width: 90%;
    .links-wrapper {
      overflow-x: auto;
      grid-template-columns: auto;
      /* font-size: .8rem; */
      .original-link {
        overflow-wrap: break-word;
        word-wrap: break-word;

        -ms-word-break: break-all;
        word-break: break-all;
        word-break: break-word;
        -ms-hyphens: auto;
        -moz-hyphens: auto;
        -webkit-hyphens: auto;
        hyphens: auto;
      }
    }
  }

  .fetures-segment {
    padding-top: 150px;
    .fetures-about {
      width: 90%;
    }
  }
  .feture-card-container {
    padding: 20px;
    .card {
      margin: 15px 0;
    }
  }
  .shortner-container {
    height: 230px;
    width: 90%;
    /* background: var(--lightBlue); */
    border: 1px solid var(--primaryclr);
    bottom: -115px;
    .form-grp {
      display: flex;
      flex-direction: column;
      button {
        padding: 12px;
      }
    }
  }
  .footer-before {
    /* background: var(--secondaryTxt); */
    .big-text {
      font-size: 1.6rem;
      /* color: black; */
    }
  }
  footer {
    grid-template-columns: auto;
    place-items: center;
    gap: 20px;
    .content {
      text-align: center;
    }
    .footer-heading {
      h1 {
        font-size: 1.7rem;
      }
    }
  }
}


